.close{
    /* position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px; */
    float: right;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
}

nav{
  background: rgb(102, 174, 202);
  height: 48px;
  width:100%;
}
a{
  overflow: hidden;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; 
}
a:hover {
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    /* padding: 14px 16px; */
    background: grey;
  }

  .txt{
    /*background-color: black;*/
    width: 100%;
    padding: 9px 10px;
    /* padding: 9px 15px; */
    height: 30px;
    font-size: 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: lightblue;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}  

.todoobjhead{
    border-radius: 5px;
    /* background-color: #f2f2f2; */
   /* padding-left: 10px;  */
    height: 118px;
    width: 260px;
    background-color: powderblue;
    font-family: san-serif;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
    text-decoration:none;
    border: 1px solid powderblue;
}

.todoobjhead:hover{
  background-color:rgb(134, 190, 194); 
}

.todoobjbody{
  
  font-family: san-serif;
  font-size: 20px;
  height: 93px;
  width:260px;
  font-weight: 100;
  font-style: italic;
  /*padding-right: 10px;*/ 
 background-color: rgb(226, 240, 239);
  text-decoration:none; 

  
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}
